.styleCol {
    display: grid; 
    place-content: center;
}

.styleCards {
    width: 15rem;
    height: 15rem;
    border-radius: 15px;
    margin: 17% 0;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.titleStyle {
    color: rgba(3, 51, 109, 0.6);
    font-size: 23px;
    font-weight: bold 900;
    text-align: center;
}





